SECRET_KEY=your-secret-key-here

MSSQL_HOST=
MSSQL_PORT=1433
MSSQL_DB=
MSSQL_USER=
MSSQL_PASSWORD=
MSSQL_DRIVER=SQL Server
BOOTSTRAP_DATABASE=true

PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
